<div class="subscription-ui" data-subscription-ui {{ shopify_attributes }}>
  <button
    type="button"
    class="subscription-ui__option-button subscription-ui__option--one-time"
    data-subscription-option="one-time"
    aria-expanded="false"
  >
    <span class="subscription-ui__radio" aria-hidden="true"></span>
    <span class="subscription-ui__label">One-time Purchase</span>
    <span class="subscription-ui__price">$38.00</span>
  </button>

  <div class="subscription-ui__option subscription-ui__option--subscribe is-active" data-subscription-option-wrapper>
    <button
      type="button"
      class="subscription-ui__option-button"
      data-subscription-option="subscribe"
      aria-expanded="true"
    >
      <span class="subscription-ui__radio is-active" aria-hidden="true"></span>
      <span class="subscription-ui__label">
        Subscribe &amp; Save


        <span class="subscription-ui__info-icon" aria-hidden="true">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
          <path d="M11.4584 15.7916H12.5417V11H11.4584V15.7916ZM11.9957 9.7404C12.1615 9.7404 12.302 9.68431 12.4171 9.57212C12.5322 9.45993 12.5898 9.32091 12.5898 9.15506C12.5898 8.98922 12.5337 8.84873 12.4215 8.7336C12.3093 8.61849 12.1703 8.56094 12.0045 8.56094C11.8386 8.56094 11.6981 8.61703 11.583 8.72923C11.4679 8.84142 11.4103 8.98044 11.4103 9.14629C11.4103 9.31214 11.4664 9.45262 11.5786 9.56773C11.6908 9.68284 11.8298 9.7404 11.9957 9.7404ZM12.0072 19.5833C10.964 19.5833 9.98148 19.386 9.05971 18.9912C8.13792 18.5965 7.3311 18.0534 6.63925 17.3619C5.94739 16.6703 5.40401 15.8642 5.0091 14.9434C4.6142 14.0226 4.41675 13.0388 4.41675 11.9919C4.41675 10.9449 4.61411 9.96406 5.00883 9.04923C5.40355 8.13438 5.94668 7.33104 6.63821 6.63919C7.32975 5.94733 8.13591 5.40394 9.05669 5.00904C9.97746 4.61414 10.9613 4.41669 12.0082 4.41669C13.0551 4.41669 14.036 4.61405 14.9508 5.00877C15.8657 5.40349 16.669 5.94662 17.3609 6.63815C18.0527 7.32969 18.5961 8.13422 18.991 9.05175C19.3859 9.96928 19.5834 10.9496 19.5834 11.9929C19.5834 13.0361 19.386 14.0186 18.9913 14.9404C18.5966 15.8621 18.0534 16.669 17.3619 17.3608C16.6704 18.0527 15.8658 18.5961 14.9483 18.991C14.0308 19.3859 13.0504 19.5833 12.0072 19.5833ZM12.0001 18.5C13.8056 18.5 15.3403 17.8681 16.6042 16.6042C17.8681 15.3403 18.5001 13.8056 18.5001 12C18.5001 10.1944 17.8681 8.65972 16.6042 7.39583C15.3403 6.13194 13.8056 5.5 12.0001 5.5C10.1945 5.5 8.65978 6.13194 7.39589 7.39583C6.132 8.65972 5.50006 10.1944 5.50006 12C5.50006 13.8056 6.132 15.3403 7.39589 16.6042C8.65978 17.8681 10.1945 18.5 12.0001 18.5Z" fill="currentColor"></path>
        </svg>

        </span>
      </span>
      <span class="subscription-ui__price" data-subscription-price>$32.30</span>
      <span class="subscription-ui__badge">SAVE 15%</span>
    </button>

    <div class="subscription-ui__content" data-subscription-content>
      <ul class="subscription-ui__benefits" role="list">
        <li>Save 15%</li>
        <li>Enjoy FREE Shipping</li>
        <li>No commitment, cancel anytime</li>
      </ul>

      <div class="subscription-ui__plans" role="radiogroup" aria-label="Subscription interval">
        <button
          type="button"
          class="subscription-ui__plan is-active"
          data-subscription-plan
          data-days="30"
          data-price="$32.30"
          aria-checked="true"
        >
          30 Days
        </button>
        <button
          type="button"
          class="subscription-ui__plan"
          data-subscription-plan
          data-days="60"
          data-price="$33.30"
          aria-checked="false"
        >
          60 Days
        </button>
        <button
          type="button"
          class="subscription-ui__plan"
          data-subscription-plan
          data-days="90"
          data-price="$34.30"
          aria-checked="false"
        >
          90 Days
        </button>
      </div>
    </div>
  </div>
</div>
