.accordion summary {
  display: flex;
  position: relative;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.accordion__title {
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  align-items: center;
  border-bottom: 0.1rem solid #9d9d9d;
  cursor: pointer; 
  display: flex;
  font-family: var(--font-body-semibold-family);
  font-size: 1.6rem;
  justify-content: space-between;
  letter-spacing: .016rem;
  line-height: 2.2rem;
  margin: 2.2rem 0 2rem;
  padding: 1.1rem 2.7rem 1.1rem 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .accordion__title {
    margin: 3rem 0;
  }
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}
